MGNL_HOST=http://localhost:8080
MGNL_BASE_AUTHOR=/magnoliaAuthor
MGNL_BASE_PUBLIC=/magnoliaPublic
MGNL_IS_PREVIEW=true

MGNL_SITE_PATH=/manutd

MGNL_LANGUAGES="en de"

MGNL_API_ASSETS=/dam
MGNL_API_TEMPLATES=/.rest/template-annotations/v1
MGNL_API_PAGES=/.rest/delivery/v1/pages
MGNL_API_FOOTERS=/.rest/delivery/v1/footers
